<?xml version="1.0"?>
<launch>

  <arg name="block_position" default="1 0.2" />
  <arg name="block_heading" default="3.14159" />
  <arg name="goal_position" default="1.83 0" />
  <arg name="ticks_per_meter" default="10000" />
  <arg name="wheel_separation" default="0.2" />

  <arg name="robot_urdf_file"
       default="$(find prsg2_robot)/urdf/prsg2_description.xacro" />
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder $(arg robot_urdf_file)" />

  <arg name="block_urdf_file"
       default="$(find tabletop)/urdf/block.xacro" />
  <param name="block_description"
         command="$(find xacro)/xacro --inorder $(arg block_urdf_file)" />

  <arg name="goal_urdf_file"
       default="$(find tabletop)/urdf/goal.xacro" />
  <param name="goal_description"
         command="$(find xacro)/xacro --inorder $(arg goal_urdf_file)" />

  <arg name="table_urdf_file"
       default="$(find tabletop)/urdf/table.xacro" />
  <param name="table_description"
         command="$(find xacro)/xacro --inorder $(arg table_urdf_file)" />

  <!-- Publish the robot state. -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="state_publisher">
    <param name="publish_frequency" value="10.0"/>
  </node>

  <!-- Publish frame transformations for joint angles. -->
  <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher">
    <param name="use_gui" value="False" />
    <param name="rate" value="10.0"/>
  </node>

  <!-- Publish the block state. -->
  <node name="block_state_publisher" pkg="robot_state_publisher"
        type="state_publisher">
    <param name="publish_frequency" value="10.0"/>
    <remap from="robot_description" to="block_description" />
  </node>

  <node name="block_transform" pkg="tf" type="static_transform_publisher"
        args="$(arg block_position) 0 $(arg block_heading) 0 0 odom block_shape 100" />

  <!-- Publish the goal state. -->
  <node name="goal_state_publisher" pkg="robot_state_publisher"
        type="state_publisher">
    <param name="publish_frequency" value="10.0"/>
    <remap from="robot_description" to="goal_description" />
  </node>

  <node name="goal_transform" pkg="tf" type="static_transform_publisher"
        args="$(arg goal_position) 0 0 0 0 odom goal_floor 100" />

  <!-- Publish the table state. -->
  <node name="table_state_publisher" pkg="robot_state_publisher"
        type="state_publisher">
    <param name="publish_frequency" value="10.0"/>
    <remap from="robot_description" to="table_description" />
  </node>

  <node name="table_transform" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 odom table 100" />

  <node name="controller" pkg="diff_drive" type="diff_drive_controller"
        output="screen">
    <rosparam subst_value="true">
      ticks_per_meter: $(arg ticks_per_meter)
      wheel_separation: $(arg wheel_separation)
      max_motor_speed: 3000
      timeout: 1.0
    </rosparam>
    <remap from="cmd_vel" to="/robot/cmd_vel" />
  </node>
  
  <node name="odom_publisher" pkg="diff_drive" type="diff_drive_odometry"
        output="screen">
    <rosparam subst_value="true">
      ticks_per_meter: $(arg ticks_per_meter)
      wheel_separation: $(arg wheel_separation)
    </rosparam>
  </node>

  <node name="robot" pkg="diff_drive" type="diff_drive_mock_robot"
        output="screen">
    <remap from="~lwheel_desired_rate" to="lwheel_desired_rate" />
    <remap from="~rwheel_desired_rate" to="rwheel_desired_rate" />
    <remap from="~lwheel_ticks" to="lwheel_ticks" />
    <remap from="~rwheel_ticks" to="rwheel_ticks" />
  </node>

  <node name="diff_drive_go_to_goal" pkg="diff_drive"
        type="diff_drive_go_to_goal" output="screen">
    <param name="~kP" value="1.5" />
    <param name="~kA" value="3.0" />
    <param name="~kB" value="-0.5" />
    <param name="~max_linear_speed" value="0.2" />
    <param name="~max_angular_speed" value="0.7" />
    <param name="~linear_tolerance" value="0.01" />
    <param name="~angular_tolerance" value="0.04" />
    <param name="~forwardMovementOnly" value="false" />
    <remap from="cmd_vel" to="/robot/cmd_vel" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find tabletop)/config/tabletop.rviz" />

</launch>
