<?xml version="1.0"?>
<launch>

  <node name="fiducial_transform_publisher" pkg="tabletop"
        type="fiducial_transform_publisher" output="screen">
    <rosparam>
      camera_frame: camera_link
      fiducials:
      # The block front fiducial
      - id: 0
        frame: block
        z_offset: 0
        z_factor: 1
      # The block top fiducial
      # But need to rotate!
      - id: 1
        frame: block
        z_offset: 0.02
        z_factor: 1
      - id: 9
        frame: goal
        z_offset: 0
        z_factor: 1
    </rosparam>
  </node>

  <node name="edge_finder" pkg="tabletop" type="edge_distance_finder"
        output="screen">
    <remap from="image/compressed" to="raspicam_node/image/compressed" />
  </node>

  <node name="strategy" pkg="tabletop" type="tabletop_strategy"
        output="screen">
    <rosparam>
      rate: 10
      block_frame: block
      goal_frame: goal
      reference_frame: odom
    </rosparam>
    <remap from="cmd_vel" to="robot/cmd_vel" />
  </node>

</launch>
