<?xml version="1.0"?>
<launch>

  <node name="fiducial_transform_publisher" pkg="tabletop"
        type="fiducial_transform_publisher" output="screen">
    <rosparam>
      camera_frame: camera_link
      fiducials:
      # The block front fiducial
      - id: 0
        frame: block
        z_offset: 0
        z_factor: 1
      # The block top fiducial
      # But need to rotate!
      - id: 1
        frame: block
        z_offset: 0.02
        z_factor: 1
      - id: 9
        frame: goal
        z_offset: 0
        z_factor: 1
    </rosparam>
  </node>

</launch>
