<?xml version="1.0"?>
<launch>

  <arg name="shutter_speed" default="50000" />

  <include file="$(find prsg2_robot)/launch/prsg2_controller.launch" />
  <include file="$(find tabletop)/launch/camera.launch">
    <arg name="shutter_speed" value="$(arg shutter_speed)" />
  </include>

  <!-- Filter images from 10 Hz to about 1 Hz for aruco_detect. -->
  <node name="drop" pkg="topic_tools" type="drop"
        args="/raspicam_node/image/compressed 9 10 /image/compressed" />

  <node name="republish" pkg="image_transport" type="republish"
        args="compressed in:=/image raw out:=/camera" />

  <node name="aruco_detect" pkg="aruco_detect" type="aruco_detect">
    <!-- Using DICT_5X5_50 -->
    <param name="~dictionary" value="4" />
    <param name="~fiducial_len" value=".050" />
    <remap from="/camera_info" to="/raspicam_node/camera_info" />
  </node>

<!--
  <include file="$(find tabletop)/launch/planner.launch" />
-->

<!--
  <node name="diff_drive_go_to_goal" pkg="diff_drive"
        type="diff_drive_go_to_goal">
    <param name="~max_linear_velocity" value="0.05" />
    <remap from="~cmd_vel" to="cmd_vel" />
  </node>
-->

</launch>
